[submodule "api-gmc-industrial"]
	path = api-gmc-industrial
	url = https://github.com/Caioliu/api-gmc-industrial.git
[submodule "api-rest-original-paineis"]
	path = api-rest-original-paineis
	url = https://github.com/Caioliu/api-rest-original-paineis.git
[submodule "api-concretapp"]
	path = api-concretapp
	url = https://github.com/Caioliu/api-concretapp.git
[submodule "api-arqtool"]
	path = api-arqtool
	url = https://github.com/Caioliu/api-arqtool.git
